*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    height: 1650px;
    
}

/* começa o cabeçalho*/
header{
    
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
    background:rgba(254,182,69,1) ;
}
.title{

    display: inline;
    width: 100%;
    align-items: center;

}

i img{
    width: 25px;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
}
h1{
    margin-top:8px;
    margin-left: 70px;
    font-size: 25px;

}
h2{
   
    margin-left: 70px;
    font-size: 15px;
}


/*Aqui termina o cabeçalho*/




   
 
  .menu{
    display: none;
  }
    
  header{
    
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background:rgba(254,182,69,1) ;
}

 .menu-active{
   background-color:rgb(240, 168, 52);
   width:400px;
   height: 605px;
   margin-top: 75px;
   position: fixed;
   
  
}


.itens-moble{ 
  
    list-style: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: -10px;
    text-align: center;
    font-size: 20px;
    color:white
    

    
}

.itens-moble:hover{
    color: blue;
    transition: 1s;
}



/*Aqui é o area dos produtos */
.box_product{
    display: flex;
    
}


.itens{
    display: inline-block;
    width: 335px;
    height: 145px;
    margin-top:85px ;
   
}

a{
    margin-left: -4px;
}

/*fim da area de produtos*/

/*aqui começa o footer*/
footer{
    position: fixed;
    width: 100%;
    height: 75px;
    background:rgba(254,182,69,1);
    margin-top: 450px;
}

@media(min-width:768px){
 
h1{
        
        font-size: 30px;
    
    }

 h2{
    font-size: 18px;
    
 }

 i img{
    width: 30px;
 }


.itens{
    display:grid;
    grid-template-columns: repeat(2,355px);
    grid-template-rows: repeat(2,150px);
    margin-left: 40px;
    }
    
   

.menu-active{
   height: 1000px;
   margin-top: 80px;
   width: 400px;
}



footer{
 
 bottom: 0;
    
    
}

.search{
    position: fixed;
    width: 300px;
    height: 30px;
    top: 20px;
    margin-left: 350px;
    border: 1px solid whitesmoke;
    padding: 1px;
   }

.explore{
     position: relative;
     margin-top: 3px;
     list-style: none;
     border: none;
     outline: none;
     width: 265px;
     height: 25px;
     padding-left: 2px;
   
   }

button{
     position: fixed;
     list-style: none;
     border: none;
     background: none;
     margin-left: 4px;
     margin-top: 4px;
     
    
    
   }
span{
     color: white;
   }
}




@media(min-width:1024px){

.menu{   
display: block;
position: fixed;
width: 60px;
height: 700px;
background:rgb(240, 168, 52,1);
margin-top:78px;


}


.itens{
    margin-left: 150px;
}
}

@media(min-width:1220px){
    .itens{
        display:grid;
        grid-template-columns: repeat(3,355px);
        grid-template-rows: repeat(3,150px);
        margin-left: 150px;
        }

}