*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    cursor: pointer;
}

body{
    height: 1650px;
    
}

/* começa o cabeçalho*/
header{
    
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
    background:rgba(254,182,69,1) ;
}
.title{

    display: inline;
    width: 100%;
    align-items: center;

}

i img{
    width: 25px;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
}
h1{
    margin-top:8px;
    margin-left: 70px;
    font-size: 25px;

}
h2{
   
    margin-left: 70px;
    font-size: 15px;
}
.avatar{
display: none;
 }

 

/*Aqui termina o cabeçalho*/

  .menu{
    display: none;
  }
 .menu-nav{
    display: none;
 }
 
  header{
    
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background:rgba(254,182,69,1) ;
}

 .menu-active{
   background-color:rgb(240, 168, 52);
   width:400px;
   height: 670px;
   margin-top: 75px;
   position: fixed;
   
  
}


.itens-moble{ 
    list-style: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: -10px;
    text-align: center;
    font-size: 20px;
    color:white
    

    
}

.itens-moble:hover{
    color: purple;
    transition: 1s;
}



/*Aqui é o area dos produtos */
.box_product{
    display: flex;
    
}


.itens{
    display: inline-block;
    width: 335px;
    height: 145px;
    margin-top:85px ;
   
}

a{
    margin-left: -15px;
}
.icon-itens{
    display: none;
}

/*fim da area de produtos*/

/*aqui começa o footer*/
footer{
    position: fixed;
    width: 100%;
    height: 75px;
    background:rgba(254,182,69,1);
    margin-top: 450px;
}

@media(min-width:768px){
 
h1{
        
        font-size: 30px;
    
    }

 h2{
    font-size: 18px;
    
 }

 i img{
    width: 30px;
 }

 .avatar{
    display: flex;
    position: fixed;
    margin-left: 90%;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius:100% ;
    margin-top: 15px;
    align-items:start;
  
 }

 .i-avatar{
   margin-top: -10px;
   margin-left: -5px;
 }
 .Login{
    display: none;
 }

.itens{
    display:grid;
    grid-template-columns: repeat(2,355px);
    grid-template-rows: repeat(2,150px);
    margin-left: 40px;
    }
    
   

.menu-active{
   height: 1000px;
   margin-top: 80px;
   width: 400px;
}
.link-mob{
    margin-left: 20px;
}
.icon-itens{
  display: flex;
  margin-top: -28px;
  margin-left: 100px;
}


footer{
 
 bottom: 0;
    
    
}

.search{
    position: fixed;
    width: 300px;
    height: 30px;
    top: 20px;
    margin-left: 350px;
    border: 1px solid whitesmoke;
    padding: 1px;
   }

.explore{
     position: relative;
     margin-top: 3px;
     list-style: none;
     border: none;
     outline: none;
     width: 265px;
     height: 25px;
     padding-left: 2px;
   
   }

button{
     position: fixed;
     list-style: none;
     border: none;
     background: none;
     margin-left: 4px;
     margin-top: 4px;
     
    
    
   }
span{
     color: white;
   }


#menu{
    
    cursor: pointer;
    animation: menu-lateral .4s ease-in;
}
@keyframes menu-lateral {
    0%{
        width: 100px;
    }
    25%{
        width:200px;
    }
    50%{
        width: 300px;
    }
    100%{
        width: 400px;
    }
}

#menu .link-mob{
 animation: efeitoLetras 1s ease-in-out;
}

@keyframes efeitoLetras {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: none;
    }
    
}
}

.contatos{ display: none;}




@media(min-width:1024px){

    
.menu{   
display: block;
position: fixed;
width: 60px;
height: 700px;
background:rgb(240, 168, 52,1);
margin-top:78px;




}
.menu a{
    display: none;
}

.search{
    width: 400px;
    margin-top: -5px;
    margin-left: 375px;
}

.explore{
    width: 365px;
}
.menu-nav{
    display:flex;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    position: fixed;
    margin-left: 38%;
   
}

a{
    padding-left: 5px;
}

.itens-nav{
    display: inline-block;
    list-style: none;
    margin-top: 23px;
    padding: 10px;
    color:white
}
.itens-nav:hover{
    cursor: pointer;
    color: purple;
    transition: 1s;
}
.itens{
    margin-left: 150px;
}
.menu-active{
    width: 300px;
}
.menu-active .icon-itens{
    margin-top: -30px;
    margin-left: 60px;
    
}

.icon-itens{
    position: absolute;
    margin-top:-8px;
    width: 35px;
    margin-left: 6px;
}

.avatar{
    margin-left: 80%; 
}

.Login{
    display: inline-block;
    position: fixed;
    width: 100px;
    text-align: center;
    margin-top: 5px;
    left:86%;
    font-size: 16px;
}

#menu{
    
    cursor: pointer;
    transition: ease;
    transition-duration: .5s;
}

#menu .link-mob{
 animation: efeitoLetras 1s ease-in-out;
}

@keyframes efeitoLetras {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: none;
    }
    
}

.contatos{ display: none;}
   } 




@media(min-width:1220px){

    header{
        height: 90px;
        border-bottom: 1px solid white;
    }

    h1{
        margin-top:10px ;
        margin-left: 15px;
    }
    h2{
        margin-left: 15px;
    }
    .bars-menu{
        
        display: none;
     
    }
    .itens{
        display:grid;
        grid-template-columns: repeat(3,355px);
        grid-template-rows: repeat(3,150px);
        margin-left: 125px;
        margin-top: 60px;
        }

 .search{
    width: 500px;
    margin-left:330px ;
    margin-top: 5px;
 }

 .explore{
    width: 459px;
 }

.menu{
    
    margin-top:91px;
   
    }

.menu-nav{
    display:flex;
    width: 390px;
    height: 40px;
    margin-top: 45px;
    position: fixed;
    margin-left:30%;
    
}

.menu-active{
    margin-top: 91px;
    width: 200px;
    border-right: 1px  solid white ;
}
.menu-active .icon-itens{
    
    margin-left: 5px;
    
}
 a{
    padding-left: 15px;
 }

.itens-nav{
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    padding-left: 15px;
    color:white
}

footer{
 
 position: absolute;
 width: 1200px;
 height:500px;
 bottom:0 ;
 margin-left:61px;
 top:710px;
 z-index: -1;
}
.Login{
    left: 90%;
}
.avatar{
    margin-left: 85%;
}

.contatos{
    display: flex;
    position: fixed;
    left: 70%;
    width: 100px;
    height: 40px;
    justify-content: space-between;
    margin-top: -28px;
}
.cont:hover{
    cursor: pointer;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0px 0px 8px white;

}
}

@media(min-width:1920px){

    body{
       height: 1720px;
    }

    .menu{   
     
        height: 1000px;
       
    }
    .itens{
        display:grid;
        grid-template-columns: repeat(5,355px);
        grid-template-rows: repeat(5,150px);
        margin-left: 125px;
        
        }

        .menu-nav{
            margin-left:46%;
            margin-top: 20px;
        }


        footer{
          
            width: 1860px;
            bottom: auto;
            margin-left:59px;
            top:-100px;
            z-index: -1;
           }
}
