*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    cursor: pointer;
}

body{
    height: 2830px;
    overflow-x: hidden;
    background:  rgb(2,0,36);
    
}
/*Este stilização esta feita para mobile */
/* Estilização do cabeçalho*/
header{
    display: flexbox;
    position: fixed;
    width: 100%;
    height: 75px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);
}
.title{

    display: inline;
    width: 100%;
    align-items: center;

}

i img{
    position: absolute;
    width: 25px;
    margin-top: 20px;
    margin-left: 15px;
}
h1{
    margin-top:8px;
    margin-left:70px;
    font-size:25px;
    color: #ffff;
    text-shadow: 0px 0px 7px white;

}
h2{
   
    margin-left:70px;
    font-size:15px;
    color: #ffff;
    text-shadow: 0px 0px 7px white;
}

.bars-menu img{
    width: 30px;
}

/*Aqui termina o cabeçalho*/

/*Barra de menu*/

 .menu-active{
   position: fixed;
   width:400px;
   height: 593px;
   margin-top: 40px;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);
   border-top: 1px solid #fff;
   border-bottom:  1px solid #fff;
}

.itens-mobile{ 
    list-style: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: -10px;
    text-align: center;
    font-size: 20px;
    color:white;
    

    
}


.itens-mobile:hover{
    text-shadow: 0px 0px 8px white;
}

a{
    margin-left: -15px;
}


/*Aqui é o area dos produtos */
.box_product{
    display: flex;
    
}


.itens{
    display:inline-block;
    margin-top:45px ;
    margin-left: 3px;
   
}



/*fim da area de produtos*/

/*aqui começa o footer*/
footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    margin-top: 450px;
    bottom: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);
   

}


.card-footer h2{
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    margin-left: 30px;
}
  

/*aqui termina o footer*/

.avatar ,.menu ,.menu-nav,.icon-itens, .Login, .contatos,.card-footer h1, h3, .contato-footer {
    display: none;
     }

    


/*resposividade para tablet*/
@media(min-width:768px){

/* Aqui alguns ajustes no capeçalho*/
body{
    height:1590px;
}
header{
    height: 90px;
}
h1{ 
     font-size: 30px;
     margin-top: 15px;
  }

 h2{
    font-size: 18px;
    
 }

 i img{
    width: 40px;
 }

 .bars-menu img{
    width: 40px;
    margin-top: 8px;
    
}

/*introdução do icone para o login*/
 .avatar{
    display: flex;
    position: fixed;
    margin-left: 90%;
    width: 55px;
    height: 55px;
    border: 2px solid rgb(255, 255,255);
    border-radius:100% ;
    margin-top: 15px;
    align-items:start;
  
 }

 .i-avatar{
  
   margin-top: -15px;
   margin-left: -8px;
   
 }

 .icon-itens{
    display: flex;
    margin-top: -28px;
    margin-left: 100px;
    
  }
 /*Ultilização do grid para organização do items de produtos*/

.itens{
    display:grid;
    grid-template-columns: repeat(2,355px);
    grid-template-rows: repeat(2,150px);
    margin-left: 40px;
    margin-top: 60px;
    }
    
   
/* menu de navegação*/
.menu-active{
   height: 862px;
   margin-top: 50px;
   width: 350px;
   margin: none;
}
.link-mob{
    margin-left: 55px;
}



.search{
    position: fixed;
    width: 300px;
    height: 30px;
    top: 23px;
    margin-left: 350px;
    border: 1px solid whitesmoke;
    padding: 1px;
   }

.explore{
     position: relative;
     margin-top: 3px;
     list-style: none;
     border: none;
     outline: none;
     width: 265px;
     height: 25px;
     padding-left: 2px;
   
   }

button{
     position: fixed;
     list-style: none;
     border: none;
     background: none;
     margin-left: 4px;
     margin-top: 4px;
     
    
    
   }
span{
     color: white;
   }

/* animação do menu ao clicar no botão*/
#menu{
    
    cursor: pointer;
    animation: menu-lateral .4s ease-in;
}
@keyframes menu-lateral {
    0%{
        width: 100px;
    }
    25%{
        width:200px;
    }
    50%{
        width: 300px;
    }
    100%{
        width: 400px;
    }
}

#menu .link-mob{
 animation: efeitoLetras 1s ease-in-out;
}

@keyframes efeitoLetras {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: none;
    }
    
}
.card-footer h2{
  margin-left: 60%;  
}

}
/*resposividade para tablet em posição horizontal*/

@media(min-width:1024px){
/*menu lateral fixo*/
.menu{   
display: block;
position: fixed;
width: 60px;
height: 630px;
background: rgba(9,51,121,.2);
/*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,1) 35%, rgba(0,212,255,1) 100%);*/

margin-top:43px;

}
.menu a{
    display: none;
}

/*barra de navegação*/
.search{
    width: 400px;
    margin-top: -5px;
    margin-left: 375px;
}

.explore{
    width: 365px;
}

.menu-nav{
    display:flex;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    position: fixed;
    margin-left: 41%;
   
}

a{
    padding-left: 5px;
}

.itens-nav{
    display: inline-block;
    list-style: none;
    margin-top: 23px;
    padding: 10px;
    color:white
}
.itens-nav:hover{
   
    text-shadow: 0px 0px 8px white;
    
}
.itens{
    margin-left: 170px;
}

.avatar{
    margin-left: 80%; 
}

.Login{
    display: inline-block;
    position: fixed;
    width: 100px;
    text-align: center;
    margin-top: 5px;
    left:88%;
    font-size: 16px;
}

/*menu lateral ao apertar no botão*/
.menu-active{
    width: 300px;
}
.menu-active .icon-itens{
    margin-top: -30px;
    margin-left: 60px;
    
}

.icon-itens{
    position: absolute;
    margin-top:-8px;
    width: 35px;
    margin-left: 6px;
   
}

#menu{
    
    cursor: pointer;
    transition: ease;
    transition-duration: .5s;
}

#menu .link-mob{
 animation: efeitoLetras 1s ease-in-out;
}

@keyframes efeitoLetras {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0,5;
    }
    100%{
        opacity: none;
    }
    
}
/*fooder*/
.card-footer h2{
    margin-left: 90%;  
  }

}
/*resposividade para leptops*/

@media(min-width:1220px){
/*cabeçalho*/

header{
        
        height: 90px;
        border-bottom: 1px solid white;
    }
 
 h1{
        margin-top:10px ;
        margin-left: 25px;
    }
 h2{
        margin-left: 25px;
    }
.bars-menu{
        
        display: none;
     
    }
.itens{
        display:grid;
        grid-template-columns: repeat(3,355px);
        grid-template-rows: repeat(3,150px);
        margin-left: 155px;
        margin-top: 60px;
        }

.search{
    width: 500px;
    margin-left:28% ;
    margin-top: 5px;
 }

.explore{
    width: 462px;
    
 }
/* menu de navegação cabeçalho*/
.menu{
    
    margin-top:56px;
    height: 900px;
   
    }

.menu-nav{
    display:flex;
    width: 390px;
    height: 40px;
    margin-top: 50px;
    position: fixed;
    margin-left:30%;
    
}
.Login{
    left: 89%;
    margin-top: 18px;
   }
.avatar{
    margin-top: 18px;
    margin-left: 83%;
   }
   
.contatos{
       display: flex;
       position: fixed;
       left: 68%;
       width: 100px;
       height: 40px;
       justify-content: space-between;
       margin-top: -28px;
   }
.cont:hover{
       cursor: pointer;
       border-radius: 5px;
       padding: 1px;
       box-shadow: 0px 0px 8px white;
   
   }
/*menu lateral seção de recursos*/
.menu-active{
    margin-top: 50px;
    width: 230px;
    border-right: 1px  solid white ;
}
.menu-active .icon-itens{
    
    margin-left: 30px;
    
}
 a{
    padding-left: 8px;
 }

.itens-nav{
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    padding-left: 15px;
    color:white
}
/*footer*/
footer{
 position: absolute;
 width: 1300x;
 height:700px;
 margin-left:61px;
 top:600px;
 z-index: -1;
}
.card-footer h2{
    margin-left: 5px;
}
.card-footer h1,h3{
    display: flex;
    
   
    
}

.card-footer {
    
    width: 900px;
    height: 300px;
    margin-top: 300px;
    margin-left: 10%;
    border: 1px solid white;
    
}
.iten-footer{
    display: block;
    margin-left: 30%;
    align-items: center;
    color:white;
    text-shadow: 0px 0px 8px white;
    padding: 5px;
    
}
.contato-footer{
    display: flex;
    width: 500px;
}
 .contato-footer a{
   display: inline-block;
   padding: 45px;
   width: 50px;
   height: 50px;

   margin-left: 100px;
   
    
 }

 .iten-1, .iten-2{
 width: 60px;
 align-items: center;
 }

.iten-1{
    margin-top:8px;
}

}

@media(min-width:1920px){

 body{
       height: 1720px;
    }

 .menu{   
     
        height: 1000px;
       
    }
.itens{
        display:grid;
        grid-template-columns: repeat(5,355px);
        grid-template-rows: repeat(5,150px);
        margin-left: 125px;
        
        }

 .menu-nav{
            margin-left:46%;
            margin-top: 20px;
        }

 footer{
          
            width: 2000px;
            margin-left:59px;
            top:-100px;
            z-index: -1;
           }
}
